#title {
  text-align: center;
  font-family: sans-serif;
}

.cardcont {
  display: flex;
}

.yhteyskortti {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  font-family: sans-serif;
  max-width: 20rem;
  margin: auto;
  text-align: center;
}
